.StyloUI-radio-container {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 5px;
  justify-content: start;
  cursor: pointer;
}

.StyloUI-radio {
  width: 20px;
  height: 20px;
  accent-color: var(--primary-color);
  cursor: pointer;
}

.StyloUI-radio-label {
  font-size: 16px;
  color: var(--text-color);
}

.StyloUI-radio:checked {
  border-color: var(--primary-color);
}
