/* Button.module.css */

.StyloUI-button {
  color: white;
  background-color: var(--primary-color);
  height: 46px;
  padding: 8px 16px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.StyloUI-button:disabled {
  background-color: rgb(179, 183, 187);
  cursor: not-allowed;
}

/* Variantes de botón */
.primary {
  background-color: var(--primary-color);
}

.primary:hover {
  background-color: #0056b3;
}

.secondary {
  background-color: var(--secondary-color);
}

.secondary:hover {
  background-color: #494f54;
}

.danger {
  background-color: #dc3545;
}

.danger:hover {
  background-color: #c82333;
}

.warning {
  background-color: #ffc107;
}

.warning:hover {
  background-color: #e0a800;
}

.info {
  background-color: #17a2b8;
}

.info:hover {
  background-color: #138496;
}

.success {
  background-color: #28a745;
}

.success:hover {
  background-color: #218838;
}

.default {
  background-color: #6c757d;
}

.default:hover {
  background-color: #494f54;
}

.small {
  padding: 4px 8px;
  font-size: 14px;
}

.large {
  padding: 12px 24px;
  font-size: 18px;
}
