.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: start;
  cursor: pointer;
}

.checkbox {
  width: 20px;
  height: 20px;
  accent-color: var(--primary-color); /* Usamos el color primario */
}

.checkboxLabel {
  font-size: 14px;
  color: var(
    --text-color
  ); /* Usamos el color de texto que configuraremos más tarde */
}

/* Cuando el checkbox está seleccionado, el borde se pone más grueso */
.checkbox:checked {
  border-color: var(--primary-color);
}
